
name: promdoc
on: pull_request

jobs:
  pr-validation:
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v1

      - name: setup go
        uses: actions/setup-go@v1
        with:
          go-version: '1.14'

      - name: build
        run: make build

      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
